@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$gradient1left: linear-gradient(to left, #743ad5, #d53a9d);
$gradient1right: linear-gradient(to right, #743ad5, #d53a9d);
$image1: url("../img/img/img1.jpg");
$image2: url("../img/img/img2.jpg");
$image3: url("../img/img/img3.jpg");
$image4: url("../img/img/img4.jpg");
$image5: url("../img/img/img5.jpg");
$image6: url("../img/img/img6.jpg");
$imgAnim: all 500ms ease-in-out;

body{
    margin: 0;
    padding: 0;
    background: #1f1f1f;
    overflow: hidden;
}
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .child{
        position: relative;
        top: 1000px;
        width: 300px;
        height: 100vh;
        transition: 500ms ease-in-out;
        transition-property: width height border-radius box-shadow background-size;
        border-radius: 0%;
        opacity: 60%;
        &:hover{
            width: 500px;
            height: 100vh;
            opacity: 100%;
            cursor: pointer;
        }
    }
    .one{
        background: $image1;
        background-size: cover;
        background-position: center;
    }
    .two{
        background: $image2;
        background-size: cover;
        background-position: center;
    }
    .three{
        background: $image3;
        background-size: cover;
        background-position: center;
    }
    .four{
        background: $image4;
        background-size: cover;
        background-position: center;
    }
    .five{
        background: $image5;
        background-size: cover;
        background-position: center;
    }
    .six{
        background: $image6;
        background-size: cover;
        background-position: center;
    }
    a{
        text-decoration: none;
        overflow: hidden;
    }
}
/* Image HTMLs */
.container-imagepage{
    display: flex;
    justify-content: right;
    height: 100vh;

    .MainImage1{
        position: relative;
        transform: translateX(-1200px);
        background: $image1 no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        margin: 0 100px 0 0;
    }
    .MainImage2{
        position: relative;
        transform: translateX(-1200px);
        background: $image2 no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        margin: 0 100px 0 0;
    }
    .MainImage3{
        position: relative;
        transform: translateX(-1200px);
        background: $image3 no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        margin: 0 100px 0 0;
    }
    .MainImage4{
        position: relative;
        transform: translateX(-1200px);
        background: $image4 no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        margin: 0 100px 0 0;
    }
    .MainImage5{
        position: relative;
        transform: translateX(-1200px);
        background: $image5 no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        margin: 0 100px 0 0;
    }
    .MainImage6{
        position: relative;
        transform: translateX(-1200px);
        background: $image6 no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        margin: 0 100px 0 0;
    }
    .Text{
        position: relative;
        transform: translateY(1200px);
        color: white;
        font-family: 'Poppins';
        text-align: right;
        margin: 5%;
    }
    .BackBtn{
        position: relative;
        width: 100px;
        top: 42vh;

        &:hover{
            cursor: pointer;
        }
    }
}