$gradient1left: linear-gradient(to left, #743ad5, #d53a9d);
$gradient1right: linear-gradient(to right, #743ad5, #d53a9d);
$image1: url("../img/swiss-mountain.jpg");
$image2: url("../img/swiss-mountain2.jpg");
$image3: url("../img/image3.jpg");
$image4: url("../img/image4.jpg");
$image5: url("../img/image5.jpg");
$image6: url("../img/image6.jpg");

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #242424, #000000);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .child{
        width: 300px;
        height: 300px;
        transition: 500ms ease-in-out;
        transition-property: width height border-radius box-shadow;
        border-radius: 0%;
        opacity: 60%;
        &:hover{
            width: 400px;
            height: 100vh;
            opacity: 100%;
            cursor: pointer;
        }
    }
    .one{
        background: $image1;
        background-size: cover;
        background-position: center;
    }
    .two{
        background: $image2;
        background-size: cover;
        background-position: center;
    }
    .three{
        background: $image3;
        background-size: cover;
        background-position: center;
    }
    .four{
        background: $image4;
        background-size: cover;
        background-position: center;
    }
    .five{
        background: $image5;
        background-size: cover;
        background-position: center;
    }
    .six{
        background: $image6;
        background-size: cover;
        background-position: center;
    }
}