$gradient1left: linear-gradient(to left, #743ad5, #d53a9d);
$gradient1right: linear-gradient(to right, #743ad5, #d53a9d);
$image1: url("../img/swiss-mountain.jpg");
$image2:url("../img/swiss-mountain2.jpg");

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #242424, #000000);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .child{
        width: 300px;
        height: 200px;
        transition: 500ms ease-in-out;
        transition-property: width height border-radius box-shadow;
        border-radius: 0%;
        &:hover{
            width: 400px;
            height: 100vh;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
    .one{
        background: $image1;
        background-size: cover;
        background-position: center;
    }
    .two{
        background: $image2;
        background-size: cover;
        background-position: center;
    }
}